.login-form {
  padding: 1em;
}

.center {
  text-align: center;
}

.content {
  margin-top: 1.5em;
}

.row-container {
  margin-top: 1em;
  margin-bottom: 1em;
}

.encryption-result {
  word-break: break-all;
}
