<article-container>
  <h1>Powered by</h1>

  <a href="https://nx.dev/angular" target="_blank" rel="noopener noreferrer">
    <img src="/assets/images/icon-nx01.png" height="50" />
  </a>
  <a href="https://angular.io/" target="_blank" rel="noopener noreferrer">
    <img src="/assets/images/icon-angular01.png" height="50" />
  </a>
  <a href="https://www.docker.com/" target="_blank" rel="noopener noreferrer">
    <img src="/assets/images/icon-docker01.png" height="50" />
  </a>
  <a
    href="https://github.com/treetips/nestjs-typeorm-restful-api-example"
    target="_blank"
    rel="noopener noreferrer"
  >
    <img src="/assets/images/icon-github01.png" height="50" />
  </a>
</article-container>
