<hr class="border" />

<footer class="w-100 center">
  <span>Powerd by</span>
  <a href="https://nx.dev/angular" target="_blank" rel="noopener noreferrer">
    <img src="/images/icon-nx01.png" height="50"/>
  </a>
  <a href="https://angular.io/" target="_blank" rel="noopener noreferrer">
    <img src="/images/icon-angular01.png" height="50"/>
  </a>
  <a href="https://nestjs.com/" target="_blank" rel="noopener noreferrer">
    <img src="/images/icon-nestjs01.png" height="50"/>
  </a>
  <a href="https://www.docker.com/" target="_blank" rel="noopener noreferrer">
    <img src="/images/icon-docker01.png" height="50"/>
  </a>
  <a href="https://redis.io/" target="_blank" rel="noopener noreferrer">
    <img src="/images/icon-redis01.png" height="50"/>
  </a>
  <a href="https://www.mysql.com/" target="_blank" rel="noopener noreferrer">
    <img src="/images/icon-mysql01.png" height="50"/>
  </a>
  <a href="https://github.com/treetips/nestjs-typeorm-restful-api-example" target="_blank" rel="noopener noreferrer">
    <img src="/images/icon-github01.png" height="50"/>
  </a>
</footer>
