<article-container>
  <div class="theme-spacing-top-bottom">
    <a mat-raised-button color="primary" routerLink="/graphql/todo/register"
      >Register Todo</a
    >
  </div>

  <mat-table [dataSource]="todos$ | async" class="mat-elevation-z2">
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.id }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.title }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="deadline">
      <mat-header-cell *matHeaderCellDef>Deadline</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.deadline }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="complete">
      <mat-header-cell *matHeaderCellDef>Complete</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-slide-toggle
          [checked]="element.complete"
          (change)="handleToggleStatus(element.id)"
        ></mat-slide-toggle>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <a
          mat-button
          mat-stroked-button
          color="primary"
          routerLink="/graphql/todo/edit/{{ element.id }}"
        >
          <mat-icon>edit</mat-icon>
        </a>
        <button
          mat-button
          mat-stroked-button
          color="warn"
          (click)="handleDeleteTodo(element.id)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
</article-container>
